.header__button {
  width: 150px;
  height: 40px;
  display: block;
  color: aquamarine;
  background-color: tomato;
  text-align: center;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
.header__line {
  color: rgba(157, 164, 189, 0.9);
  margin-bottom: 40px;
  &::before {
    content: "";
    width: 1200px;
    height: 8px;
    margin-top: 60px;
    background-color: #303030;
  }
  &__light::before {
    color: rgba(157, 164, 189, 0.9);
  }
  &__dark::before {
    background-color: #303030;
  }
}
