@import "./logo";
.header {
  position: relative;
  @media (min-width: 480px) {
  }
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-block__navigation-position {
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}
.header-block .header-block__navigation {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
.header-block__page {
  display: flex;
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 768px) {
    &__color {
      color: $colorblue;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -32px;
        background: $colorblue;
        border-radius: 2px;
      }
    }
  }
}
.header-block__page-1 {
  @media screen and (min-width: 768px) {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:hover {
      color: $colorblue;
    }
    &:focus {
      color: $colorblue;
    }
    margin-left: 88px;
  }
}
.header-block__page-2 {
  @media screen and (min-width: 768px) {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:hover {
      color: $colorblue;
    }
    &:focus {
      color: $colorblue;
    }
  }
}
.header-block__page-3 {
  @media screen and (min-width: 768px) {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:hover {
      color: $colorblue;
    }
    &:focus {
      color: $colorblue;
    }
  }
}

.header-block__navigation__button {
  @media screen and(min-width:768px) {
    display: none;
  }
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.header-block__navigation__button .navigation__button__icon-close {
  display: none;
}

.header-block__navigation__button.is-open .navigation__button__icon-close {
  display: block;
}
.header-block__navigation__button.is-open .navigation__button__icon-open {
  display: none;
}

.header__mobile-container {
  @media screen and (min-width: 480px) {
  }
  @media screen and (max-width: 767px) {
    display: none;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 20px;

    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 769px;

    &.is-open {
      display: block;
    }
  }
}
.mobile-container__link {
  @media screen and (max-width: 767px) {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  @media screen and (min-width: 768px) {
    display: none;
    opacity: 0;
  }
}

.header-block__navigation {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196f3;
    align-items: center;
  }
  &-position {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
}
.header-block__item {
  text-align: left;
}
.header-block__mail {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    list-style: none;
    color: #757575;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $colorblue;
    }
    &:focus {
      color: $colorblue;
    }
    &:hover .mail-icon {
      fill: $colorblue;
    }
    &:focus .mail-icon {
      fill: $colorblue;
    }
  }
}
.header-block__connect {
  @media screen and (max-width: 767px) {
    margin-top: 306px;
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 306px;
    flex-direction: row;
    align-items: center;
    display: flex;
  }
}
.header-block__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.header-block__telefon {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: #757575;
    text-align: center;
  }

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $colorblue;
  }
  &:hover .telefon-icon {
    fill: $colorblue;
  }
  &:focus {
    color: $colorblue;
  }
  &:focus .telefon-icon {
    fill: $colorblue;
  }
}
.mobile-container__list-links {
  @media screen and (max-width: 767px) {
    display: flex;
    padding-left: 20px;
  }
}
.mobile-container__item {
  position: relative;
  margin-right: 20px;
  margin-top: 64px;
  &__line::after {
    @media screen and (max-width: 767px) {
      content: "";
      position: absolute;
      display: block;
      width: 22px;
      top: 11px;
      right: -20px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
}

.mail-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: 16px;
  height: 12px;
  align-items: center;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: $colorblue;
  }
}
.telefon-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: 10px;
  height: 16px;
  align-items: center;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: $colorblue;
  }
}
