.team__list {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    // width: 50%;
  }
  @media screen and (min-width: 1200px) {
  }
}

.team__title {
  @media screen and (min-width: 480px) {
    text-align: center;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.person__name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;

  @media screen and (min-width: 480px) {
    padding-bottom: 10px;
    padding-top: 30px;
  }
}
.person__profesion {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #757575;
  padding-bottom: 16px;
}
.team__persons {
  text-align: center;
  border: 1px solid #eeeeee;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 2);
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 25%;
  }
}
.team__picture {
  @media screen and (min-width: 768px) {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.person__social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.person__information {
  padding-bottom: 30px;
}
.person__social-information + .person__social-information {
  margin-left: 10px;
}
.person__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $colorblue;
  }
  &:focus {
    background-color: $colorblue;
  }
  &:focus .person__social-icon {
    fill: #ffffff;
  }
  &:hover .person__social-icon {
    fill: #ffffff;
  }
}
.person__social-icon {
  fill: #afb1b8;
  &:hover {
    fill: #ffffff;
  }
  &:focus {
    fill: #ffffff;
  }
}
