.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  text-align: left;
}
.services-list__block {
  position: relative;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-right: 30px;
  &:nth-child(3n) {
    margin-right: 0;
    top: 0;
    left: 0;
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .block__text {
    transform: translateY(0);
  }
}
.block__picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.block__item {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.block__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
.block__pre-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

.block__information {
  position: relative;
  overflow: hidden;
}
.block__text {
  position: absolute;
  top: 2%;
  left: 0%;
  font-weight: 400;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
