.logo {
  text-decoration: none;
  cursor: pointer;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $colorblue;
  display: block;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .futter-logo__text {
    color: $colorblue;
  }
  &:hover .header-logo__text {
    color: $colorblue;
  }
}

.header-logo__text {
  color: #212121;

  &:hover {
    color: $colorblue;
  }
}
.futter-logo__text {
  color: #ffffff;
  &:hover {
    color: $colorblue;
  }
}
