.footer-block-1__connect {
  display: flex;
  flex-direction: column;
}
.footer-block-1__information {
  list-style: none;
  padding-left: 0;
}
.footer-block-1__adress {
  width: 231px;
  height: 21px;
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-right: 0;
  white-space: nowrap;
}
.footer-block-1__navigation {
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer-block-1__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #2196f3;
  }
}
.footer-block-1__telefon {
  width: 231px;
  height: 21px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #2196f3;
  }
}
